*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.debug [class^="col"]{
/* border: 2px solid rebeccapurple; */
/* padding: 10px; */
}
html{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

img{
    max-width: 100%;
    
}

a{
    display: inline-block; 
    text-decoration: none;
    color: currentColor;
}
.row::after{
    display: block;
    clear: both;
    content: "";
}

ol,ul {
    list-style: none;
}





.row [class^="col"] {
    float: left;
}



.row .col.fr{

float: right;
}

.col-12 {
    width: 100%;
}

.col-4{
    width: 33.33% ;

}

.col-8{
    width:66.66%;
}


.section{
    padding: 0 15px;
}

          /* CONTAINER */

.container{
    max-width:970px;
    margin: 0 auto;

}

.container-fluid{
    max-width: 100%;
    margin: 0 auto;
}

.container-lg {
    max-width: 1160px;
    margin: 0 auto;
}

           /* HEADER  */



header .container-fluid{
    padding: 21px 0;
}


header .col-sx li, header .col-dx li {
    display: inline-block;
    vertical-align: middle;
    padding:0 20px;
}

header li a{
    line-height: 25px;
}

.logo-small {
    display: block;
}
 /* UTILIETIES */
.button{
     background-color: #0061ff;
     color:white ;
     border: solid 1px #0061ff ;
     padding:0 20px;
     text-align: center;
     line-height: 32px;
}
.full-width {
    width: 100%;
}

     /* JUMBO  */
    #jumbo {

    padding-top: 70px;
    background-color:#b4d0e7  ;
    }

    #jumbo .row:first-child{
         padding-bottom: 50px;
    }
     #jumbo .main-title{
         font-size: 68px;
         font-weight: 700;
     }

     .jumbo-description{
         margin-bottom: 30px;
     }
   .jumbo-cta{
       margin-bottom: 10px;
   }
   .jumbo-icon {
       padding:35px 0 20px;
       font-size: 35px;
   }

   .jumbo-img-wrappe{
       padding-left: 25px;
   }


   /* PIANO D'ACQUISTO   */

   .plan{
       border: 1px solid lightgray;
       margin-bottom: 40px;
   }

   .plan__header{
       border-bottom:1px solid lightgray ;
       text-align: center;
       padding: 10px;
   }

   .plan__body ,.plan__footer{

    padding: 18px;
   }

   .plan__body .plan-title{
       font-size: 28px;
       margin-bottom: 15px;
   }

   .plan__body .plan-price {
       font-weight: 700;
       margin-bottom: 5px;
   }

   .plan__body .bill-rate{
       font-size: 14px;
       color:#888 ;
   }

   .plan .plan-feature {
       padding: 25px 0;
   }

   .plan .plan-feature li{
       margin-bottom: 15px;
       font-size: 13px;
   }
   .plan .plan-feature li:last-child{
       margin-bottom: 0;
   }

   .plan__body .plan-cta .button{
       margin-bottom: 20px;

   }
   .plan__body .plan-cta .shop-now {
       color: #0061ff;
   }
   .plan__body .plan-cta  {
       font-size: 14px;
   }

   .plan__body::after{
       content: "";
       display:block;
       height: 1px;
       width: 29px;
       background-color: lightgray;
       margin-top: 25px;
   }

   .plan__footer .plan-feature i{
       color:#0061ff ;
   }

   #plans-section .row [class^="col"]{
       padding:0 20px;
   }

   #plans-section .row{
       margin: 0 -20px;
   }